*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --bg-color: #f4f5fb;
    --bg-secondary: #ffffff;

    --color-brand: #CA3884;
    --color-brand-hover: #a52c6b;
    --color-danger: #c93847;

    --content-primary: #080b12;
    --content-secondary: #374151;
    --content-tertiary: #9ca3af;
    --always-white: white;

    --border-primary: #D1D5DB;
    --border-hover: #b9c2d0;
    
    --ff: "Inter", sans-serif;

    --text-title: 700 1.5rem/2rem var(--ff);
    --text-label: 600 1rem/1.25rem var(--ff);
    --text-p: 500 1rem/1.25rem var(--ff);
    --text-link: 500 0.875rem/1rem var(--ff);
}

body{
    font: var(--text-p);
    background-color: var(--bg-color);
    color: var(--content-secondary);
}

h1, h2, h3{
    font: inherit;
}

a{
    text-decoration: none;
    color: inherit;
}

img{
    max-width: 100%;
    height: auto;
}

.container{
    padding-inline: 2rem;
    margin-inline: auto;
    max-width: 22rem;
}

.desktop-only{
    display: none;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
}

nav{
    margin-top: 5rem;
}

form{
    margin-top: 1rem;
    display: grid;
    gap: 2.5rem;
    
    & fieldset{
        border: none;
        font: var(--text-title);
    }

    & .fields{
        display: grid;
        gap: 1rem;

        & input[type="text"]{
            background-color: var(--bg-secondary);
            padding: .75rem 1rem;
            border: 2px solid var(--border-primary);
            border-radius: 0.75rem;
            color: var(--content-primary);
            font: var(--text-p);
            font-weight: 400;

            &::placeholder{
                color: var(--content-tertiary);
            }

            &:hover{
                border-color: var(--border-hover);
            }

            &:focus-within{
                outline: none;
                border-color: var(--color-brand);
            }
        }

        & button{
            background-color: var(--color-brand);
            border: none;
            padding: .75rem 1.5rem;
            border-radius: 0.75rem;
            font: var(--text-p);
            color: var(--always-white);

            &:hover, &:focus-within{
                outline: none;
                background-color: var(--color-brand-hover);
            }
        }
    }
}

ul[role="list"]{
    list-style: none;
    margin-top: 2.5rem;
    display: grid;
    gap: .75rem;
    
    & li{
        height: 3.5rem;
        background-color: var(--bg-secondary);
        border-radius: .75rem;

        display: grid;
        grid-auto-flow: column;
        align-content: center;
        align-items: center;
        justify-content: flex-start;
        padding: .75rem;
        grid-template-columns: 1rem 1fr 1rem;
        gap: .75rem;
        line-height: 0;

        & .checkboxSquare{
            background-color: var(--bg-secondary);
            width: 1rem;
            height: 1rem;
            border: 1px solid var(--border-primary);
            border-radius: 6px;
            position: relative;
            & input[type="checkbox"]{
                position: absolute;
                z-index: 2;
                inset: 0;
                opacity: 0;
            }

            &:hover, &:focus-within{
                outline: none;
                border-color: var(--border-hover);
            }

            &:has(:checked){
                background-color: var(--color-brand);
                border-color: var(--color-brand);
                &::before{
                    content: "";
                    position: absolute;
                    inset: 0;
                    z-index: 1;
                    background: url(../assets/check.svg);
                    background-repeat: no-repeat;
                    background-size: cover;
                }
            }
        }

    }
}

footer{
    margin-top: 2rem;
    color: var(--always-white);
    
    & .items{
        padding: .75rem;
        background-color: var(--color-danger);
        border-radius: .75rem;

        display: flex;
        gap: .5rem;
        line-height: 0;
        align-items: center;
    }
}